body{
	background-color: #F5F5F5;
  	font-family : Sans-Serif, Arial;
  	font-size : 16px;
}

.contenedor{
	display : block;
	margin : 20px auto;
	width: 75%;
	background-color: #E3F2FD;
}
.contenedor h2 {
	background-color: #2196F3;
	padding: 7px;
	color: #FFFFFF;
	margin:0;
	text-align: center;
	font-size: 1.3em;
    font-weight: lighter;
}

.contenedor .plantilla-activa{
	display: block;
	width: 100%;
	height: 450px;
}
nav{
	border-bottom: 1px solid #2196F3;
	height: 25px;
	margin: 10px 0;
}
nav ul{
	display: flex;
	justify-content: space-around;
	height: 100%;
	padding: 0;
}
nav ul li{
	list-style: none;
	width: 25%;
    text-align: center;
    -webkit-animation: alto 0.4s ease-in;
    animation: alto 0.4s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition: 0.2s linear all;
    -webkit-transition: 0.2s linear all;	
}
nav ul li:hover{
	cursor: pointer;
	border-bottom: 4px solid #2196F3;
}

.plantilla-activa{
    width: 100%;
    height: 100%;
}

.contenido-plantilla{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}